* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
}

form {
  width: min(90%, 600px);
  display: flex;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
  padding: 1.5rem;
  margin: auto;
  gap: 1rem;
  height: 400px;
  flex-direction: column;
}

form img {
  width: 50%;
  object-fit: cover;
}

form>div {
  display: flex;
  flex: 1;
  gap: 1rem;

}

.inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs>div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}

#root {

  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;

}

.car {
  display: flex;
  border: 1px solid #d8d8d8;
  flex-direction: column;
}


.right-part {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.right-part a {
  width: max-content;
  align-self: flex-end;
}

.right-part button {
  transition: background-color .25s ease;
  border-radius: 6px;
  background-color: rgb(51, 51, 51);
  padding: 10px 20px;
  color: white;
  border: none;
}

.right-part a:hover button {
  cursor: pointer;
  background-color: #000000;
}

.right-part>div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


@media screen and (min-width: 768px) {

  #root {
      width: 750px;
  }

  .car {
      flex-direction: row;
  }

  .car img {
      max-width: 50%;
      object-fit: contain;
  }

  .right-part {
      flex-grow: 1;
  }

}